body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    gap: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

input,
select {
    width: 20%;
    border-radius: 5px;
}

p {
    font-size: 40px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    input,
    select {
        width: 50%;
    }
}
